.borderButton{
	border-width: 0px;
	background-color: transparent;
}

.background {
	background-image: url(../assets/img/brand/backscs.jpg);
	/*background-repeat: no-repeat;  */
	background-size: 100% 100%;
}

.hide{
    display: none;
}

.show{
    display: block;
}

.ModalAlert{
    max-width: 30%;
    width:30%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10 px rgba(0,0,0, .4);
    text-align: center;
}

.check{
  padding: 1em;
  padding-bottom: 1em;
  text-align: center;
  color:green;
}

.warning{
padding: 1em;
  padding-bottom: 1em;
  text-align: center;
  color:orange;
}

.containerGeneral{
	display: flex;
}
.container-button{
	display: flex;
	width: 80%;
}
.containerSearch{
	width: 7cm;
}

.flex {
  display: flex;
}

.inner-flex {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

/* Tamaño del scroll */
.scrollCss::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

 /* Estilos barra (thumb) de scroll */
.container_::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 0px;
}

.scrollCss::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.scrollCss::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

 /* Estilos track de scroll */
.scrollCss::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 0px;
}

.scrollCss::-webkit-scrollbar-track:hover, 
.scrollCss::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

