.iconButtons {
  position: relative;
  top: -10px;
}

.iconTable {
  font-size: 19px !important;
}

.float-left {
  height: 25px;
}

.sizeIconButton {
  height: 25px;
}

.inputStyle {
  height: 44px !important;
}

.makeSale {
  height: 100% !important;
}

